{erl_opts, [debug_info]}.
{deps, [
	{elli, {git, "https://github.com/knutin/elli.git"}},
	{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
	{uuid, {git, "https://github.com/okeuday/uuid.git", {branch, "v1.7.3"}}},
	{gen_smtp, {git, "https://github.com/Vagabond/gen_smtp.git",{branch, "0.12.0"}}},
	{gcm-erlang,{git, "https://github.com/pdincau/gcm-erlang",{branch,"0.1.0"}}},
	{apns4erl,{git,"http://inaka.github.com/apns4erl",{branch,"0.1.0"}}}
]}.