
[
{ring_upp, [
          {server_port, 8000},
          {environment_mode, testing},
          {clustering, undefined},
          {ios_apns_connection_name, erllabs_apns_connection },
          {google_api_key, <<"test_key">>}
          {email_gateway, "localhost"},
          {email_from,"shahid.shaik@live.com"}
         ]
},
{lager, [
          {handlers, [
                      {lager_console_backend, [info, {lager_default_formatter, [time, color, " [",severity,"] ", message, "\n"]}]},
                      {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
                                            {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
                      {lager_file_backend, [{file, "console.log"}, {level, info}]}
                     ]},
          {error_logger_hwm, 20000},
          {colored, true}
         ]
}].
